<div   style="text-align: center; margin-left: 200px;  margin-right: 200px;  ; align-items: center">
    <div class="container"  style="text-align: center; align-items: center">
  <br/>
    <h2  style=" color: #ff9955;"> Add/Change stations </h2>
    <br/>
    <div class="btn-group btn-group-toggle" style="width: 80%" data-toggle="buttons">
      <label for="option1" class="btn btn-primary active"  (click)="setradio('Add')" >
        <input type="radio" name="options" id="option1" autocomplete="off"  > Add
      </label>
      <label for="option2" class="btn btn-primary"  (click)="setradio('Change')" >
        <input type="radio" name="options" id="option2" autocomplete="off" > Change
      </label>
      <label for="option3" class="btn btn-primary"  (click)="setradio('Remove')" >
        <input type="radio" name="options" id="option3" autocomplete="off" > Remove
      </label>
          
    </div>  
    <br/>
  </div> 
    <div class="row" style= "width: 100%">
        <div class="col" style="width: 65%">
            <br/>
            <label *ngIf="isSelected('Add')" style="color: yellow">*Place marker on map where you want station to be!</label>
            <label *ngIf="isSelected('Remove')" style="color: yellow">*Select marker you want to remove!</label>
            <label *ngIf="isSelected('Change')" style="color: yellow">*Move marker you want to change!</label><br/>
      <div style="margin-left:10px">
        <agm-map [latitude]="markerInfo.location.latitude" [longitude]="markerInfo.location.longitude" [zoom]="15" (mapClick)="placeMarker1($event)">  
          <agm-marker  *ngFor="let stat of stati" [latitude]="stat.latitude" [longitude]="stat.longitude" [title]="stat.name" [label]="" [iconUrl]="iconPath"
          [markerDraggable]="isSelected('Change')"
            (dragEnd)="markerDragEnd($event,stat.name,stat._id, stat.__v)"
            (markerClick) = "stationClick(stat._id)">
            <agm-info-window [latitude]="stat.latitude" [longitude]="stat.longitude" >
      
           
              <span style="font-size: 16px;font-family:'Times New Roman'">{{stat.name}}</span>
              <br/>
              
              <span style="font-family:'Times New Roman'; color:gray;">{{stat.address}}</span>
              
            </agm-info-window>
          
          </agm-marker>
        </agm-map>
        </div>
          </div>
      


      <div class="col" style="width:35%" >
        <br/>
          <div *ngIf="!isSelected('Remove')">
              <form #stationForm="ngForm" (ngSubmit)="onSubmit(stationForm.value, stationForm)">
              
                <div class="form-group ">
                  <label style="color:#ff9955; font-size: 20px; padding-right: 8px; " for="Name"><b>Station name:</b></label>
                  <input required type="text" class="form-control" name="Name" placeholder="Station name" value={{name}} ngModel>
                  
                </div>
                <div class="form-group d-flex">
                  <label style="color:#ff9955; font-size: 20px; padding-right: 8px; " for="Address"><b>Station address :</b> </label><br/>
                  <label style="max-width: 200px; word-wrap: break-word; color:#ff9955; font-size: 20px;">{{address}}</label>
                
                </div>
                <div class="form-group d-flex">
                  <label style="color:#fac29d; font-size: 20px; padding-right: 8px; " for="Longitude"><b>Longitude:</b> </label><br/>
                  <label style="color:#ff9955; font-size: 20px;  ">{{coordinates.longitude}}</label>
                 
                </div>
                <div class="form-group d-flex">
                  <label style="color:#fac29d; font-size: 20px; padding-right: 8px; " for="Latitude"><b>Latitude: </b></label><br/>
                  <label style="color:#ff9955; font-size: 20px;  ">{{coordinates.latitude}}</label>
                 
                </div>
              
              <button type="submit" class="btn" *ngIf="isSelected('Add')">Add station</button>
              <button type="submit" class="btn" *ngIf="isSelected('Change')">Change station</button>
              </form>
              </div>
              <br/>
              <br/>
              <button type="button" class="btn" *ngIf="isSelected('Remove')" (click)=RemoveStation() >Remove station</button>
              
    </div>
</div>
</div>
