<div *ngIf="!prikazKarata  " style="width:700px; align-items: center">
    <h2  style="text-align: center; color: #ff9955;">No tickets to show!!!</h2>
  </div>
<div *ngIf="prikazKarata && allTickets.length>0" style="width:700px; align-items: center" class="container">
    <div>
      <br/>
      <h2  style="text-align: center; color: #ff9955;"> Your tickets </h2>
    </div>
    <br/>
   
    <ul class="list-group" *ngFor="let t of allTickets, let i = index">
        <button class="list-group-item-action button2" style="margin: 0 0 7px 0; border:2px solid #ff9955; background-color: transparent;
         border-radius: 20px; 
        font-size: 20px;
        color: #f0b792;"><span class="pull-center " style="float:center; ">
      <label style="padding-left: 10px" > <b style="color: #ff9955">Ticket ID: </b> {{t._id}}</label> <br/> 
      <label style="padding-left: 10px" >   <b style="color: #ff9955">Time of purchase: </b> {{blaa[i]}}</label><br/>
      <label style="padding-left: 10px" >  <b style="color: #ff9955"> {{blaa1[i]}}</b></label><br/>
      <label style="padding-left: 10px" >  <b style="color: #ff9955"> Type: </b> {{blaa2[i]}}</label><br/>
      <label style="padding-left: 10px">   <b style="color: #ff9955">Price: </b> {{blaa3[i]}} RSD</label><br/>
    </span>
  </button>
    </ul>
  </div>
  