.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: -1; 
    top:30px;
   
    padding-top: 20px;
  }
  
  /* Control the left side */
  .left {
    left: 0;
  }
  
  /* Control the right side */
  .right {
    right: 0;
  }
  
  /* If you want the content centered horizontally and vertically */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 400px;
  }

  fieldset { 
    display: block;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 2px;
    margin-top: 2px;
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 2em;
    padding-right: 2em;
  }

  .lab{
      
      font-size: 20px;
      color: #ff9955;
 
  }
  .container{
    color: #ff9955;
}

.btn{
    background-color: #ff9955;
    color: rgb(255, 255, 255);
    border:  #ff9955;
    font-size: 20px;
}


.btn:hover, .btn-:focus, .btn:active, .btn.active, .open .dropdown-toggle.btn {
 
    background-color: #f5731c;
    border-color: #f5731c;
     
    }