<div   style="text-align: center; margin-left: 50px; align-items: center">
  <div class="container" style="text-align: center; align-items: center">
    <h2  style=" color: #ff9955;"> Add/Change lines </h2>
    <br/>
    <div class="btn-group btn-group-toggle" style="width: 80%" data-toggle="buttons">
      <label for="option1" class="btn btn-primary active"  (click)="setradio('Add')" >
        <input type="radio" name="options" id="option1" autocomplete="off"  > Add
      </label>
      <label for="option2" class="btn btn-primary"  (click)="setradio('Change')" >
        <input type="radio" name="options" id="option2" autocomplete="off" > Change
      </label>
      <label for="option3" class="btn btn-primary"  (click)="setradio('Remove')" >
        <input type="radio" name="options" id="option3" autocomplete="off" > Remove
      </label>
          
    </div>  
  </div>
    <div class="row" style= "width: 100%">
        <div class="col" style="width: 65%">
            <br/>
            <label *ngIf="isSelected('Change')" style="color: yellow">*You can add stations by clicking on marker!</label>
            <label *ngIf="isSelected('Add')" style="color: yellow">*Select stations in order you want them to be in line!</label><br/>
            <div style="margin-left:10px">
                <agm-map [latitude]="markerInfo.location.latitude" [longitude]="markerInfo.location.longitude" [zoom]="15">  
                 <div *ngIf="!isSelected('Change')">
                  <agm-marker  [markerClickable]="isSelected('Add')" *ngFor="let stat of stati" [latitude]="stat.latitude" [longitude]="stat.longitude" [title]="stat.name" [label]="" [iconUrl]="iconPath"
                    (markerClick) = "stationClick(stat._id)">
                 
                  </agm-marker>
                </div>
                  <div *ngIf="isSelected('Change')">
                  <agm-marker  [markerClickable]="isSelected('Change')" *ngFor="let stat of drugiMarkeriStati" [latitude]="stat.latitude" [longitude]="stat.longitude" [title]="stat.name" [label]="" [iconUrl]="iconPath"
                    (markerClick) = "stationClick1(stat._id)">
               
                  </agm-marker>
                </div>
              
                <div *ngIf="isSelected('Add')">
                  <div  *ngFor="let dire of polyline.path, let j = index">
                    <agm-direction 
                    [renderOptions] = "{polylineOptions: {strokeColor: polyline.color}, suppressMarkers: true,  preserveViewport: true}"
                    *ngIf="polyline.path[j+1]"  
                    [origin]="{ lat: polyline.path[j].latitude, lng: polyline.path[j].longitude }" 
                    [destination]="{ lat: polyline.path[j+1].latitude, lng: polyline.path[j+1].longitude }">
                      
                      </agm-direction>
                  </div>
               </div>
              
                <div *ngIf="!isSelected('Add')">
                  <div  *ngFor="let point of sl.Stations, let j = index">
                    <agm-direction 
                    [renderOptions] = "{polylineOptions: {strokeColor: sl.ColorLine}, suppressMarkers: true, preserveViewport: true}"
                    *ngIf="sl.Stations[j+1]"  
                    [origin]="{ lat: sl.Stations[j].latitude, lng: sl.Stations[j].longitude }" 
                    [destination]="{ lat: sl.Stations[j+1].latitude, lng:sl.Stations[j+1].longitude }">
                    
                      </agm-direction>
                </div>
              </div>
            </agm-map>
          </div>
        </div>



      <div class="col" style="width:35%">
        <br/>

          <div *ngIf="isSelected('Change')">
              <label  style="color:#ff9955; font-size: 20px; ">Select line you want to change: </label>
              <select  class="form-control"  name="lineNumber"  (click)='SelectedLine($event)' [(ngModel)] = 'LineSelected'>
                <option value="none">None</option>
                <option *ngFor="let ln of allLines" value="{{ln.lineNumber}}"  >{{ln.lineNumber}}</option>
              </select>
              
          </div>
      
    
      
        <div *ngIf="isSelected('Remove')">
          
          <label style="color:#ff9955; font-size: 20px; "> Select line you want to remove </label> 
          <select   class="form-control"  name="lineNumber"  (click)='SelectedLine($event)' ngModel>
            <option value="none">None</option>
            <option *ngFor="let ln of allLines" value="{{ln.lineNumber}}"  >{{ln.lineNumber}}</option>
          </select>
         
        </div>

      <form #stationForm="ngForm" (ngSubmit)="onSubmit(stationForm.value, stationForm)">

          <div  *ngIf = "isSelected('Add')" class="form-group">
            <label style="color:#ff9955; font-size: 20px; " for="LineNumber">Line number:</label>
            <input required type="text" class="form-control" name="LineNumber" placeholder="Line Number" value={{selectedL}} ngModel>
            
          </div>
            
          <div *ngIf = "isSelected('Add')" class="form-group d-flex">
              <label style="color:#ff9955; font-size: 20px; padding-right: 8px " for="ColorLine">Line color:</label>
            <input  type="color" name="ColorLine" value="#ff0000" ngModel>
          </div>
        
          <button type="submit" class="btn" *ngIf="isSelected('Add')">Add Line</button>
          <br/>
          <button type="submit" class="btn" *ngIf="isSelected('Change')">Change Line</button>
          <button type="submit" class="btn" *ngIf="isSelected('Remove')">Remove Line</button> 
      </form>
    </div>
    <div class="col" style="width:35%">

   
        <br/>
        <div *ngIf="isSelected('Add')">
          <label style="color:#f8cfb3; font-size: 20px; " for="Stations">Selected stations:</label>
          <div *ngFor="let st of selectedStations, let i = index">
              <label style="color:#ff9955; font-size: 18px; "><b>{{i + 1}}. {{st.Name}}</b></label><br/>
              <label style="color:#ff9955; font-size: 18px; ">{{st.Address}}</label><br/>
              <label style="color:#f8cfb3;">_________________________________________________</label><br/>
          </div>
          
        </div>

        <div *ngIf="markerZaDodavanje && boolZaMarkerZaDodavanje">
        <div *ngIf="isSelected('Change')" style="border:2px #ff9955 solid">
           <br/>
            <label *ngIf="markerZaDodavanje && boolZaMarkerZaDodavanje" style="padding-right: 7px;color:#f8cfb3; ">Name:</label> <label style="color:#ff9955;"> {{markerZaDodavanje.name}}</label><br/>
            <label *ngIf="markerZaDodavanje && boolZaMarkerZaDodavanje" style="padding-right: 7px;color:#f8cfb3; ">Address:</label><label style="color:#ff9955;">  {{markerZaDodavanje.address}}</label><br/>
          
            <form  #stationForm1="ngForm" (ngSubmit)="addStationIntoLine(stationForm1.value, stationForm1)">
              <label for="rBr" *ngIf="markerZaDodavanje && boolZaMarkerZaDodavanje"  style="padding-right: 7px;color:#f8cfb3; ">Station serial number: </label>
              <input *ngIf="markerZaDodavanje && boolZaMarkerZaDodavanje" required type="number" name="rBr" placeholder="" ngModel><br/>
              <br/>
              <button   class="btn" type="submit" *ngIf="markerZaDodavanje && boolZaMarkerZaDodavanje" >Add station into line</button> <br/>
              
            </form>
          </div>
        </div>
        
        <div *ngIf="isSelected('Change')">
          <br/>
          <label style="color:#f8cfb3; font-size: 20px; " for="Stations">Stations- Line {{selektovanaLinijaZaIzmenu.LineNumber}}:</label>
          <div *ngFor="let st of selektovanaLinijaZaIzmenu.Stations, let i = index">
              <label  style="color:#ff9955; font-size: 18px; padding-right: 7px"><b>{{i + 1}}. {{st.name}}</b></label><button  class="btn btn-danger" (click)="removeFromLine(st._id,i)">X</button> <br/>
              <label style="color:#ff9955; font-size: 18px; ">{{st.address}}</label><br/>
              <label style="color:#f8cfb3;">_________________________________________________</label><br/>
          </div>
          
        </div>
  


      </div>

</div>
</div>