.rounded {
    border-radius: 20px;
    
  }
  

.naz {
    color: #ff9955;
    font-size: 30px;
}
.prof {
    color: #f3b287;
    font-size: 30px;
}



.glyphicon {  margin-bottom: 10px;margin-right: 10px;}

small {
display: block;
line-height: 1.428571429;
color: #ff9955;
font-size: 30px; 
}

.container{
    color: #ff9955;
}

.btn{
    background-color: #ff9955;
    color: rgb(255, 255, 255);
    border:  #ff9955;
    font-size: 20px;
}


.btn:hover, .btn-:focus, .btn:active, .btn.active, .open .dropdown-toggle.btn {
 
    background-color: #f5731c;
    border-color: #f5731c;
     
    }