<div class="container-fluid" >
    <div *ngIf="user != null">
  <br/>
  <br/>
  <br/>
  
  <div class="container rounded" style="border:1px solid black;  "  *ngIf="!otvorenEdit" >
      <div class="row rounded align-items-center" style="border:1px solid black; background-color: #2c3a4d"><br/>
        
        <div  class="col align-items-left rounded">
            <br/>
            <div class="row">
                <div class="col" style="border-bottom: 1px solid black" >
                    <h4 style="font-size: 35px; "> <i class="fas fa-id-badge fa-fw"></i>  Name     </h4>
                </div>
                <div class="col" style="align-content: left; text-align: left; border-bottom: 1px solid black">
                        <h4 style="font-size: 35px; "> {{user?.name}} {{user?.surname}}   </h4>
                </div>  
            </div>
            <div class="row">
                <div class="col" style="border-bottom: 1px solid black" >
                        <small><label title={{user?.Address}}><i class="fas fa-map-marker-alt fa-fw"></i> Address   </label></small>
                </div>
                <div class="col" style="align-content: left; text-align: left; border-bottom: 1px solid black">
                        <small><label> {{user?.address}} </label></small>
                </div> 
            </div>
            <div class="row">
                <div class="col" style="border-bottom: 1px solid black">
                 <p style="font-size: 30px;"> <i class="fas fa-at fa-fw"></i> E-mail   </p>
                </div>
                <div class="col" style="align-content: left; text-align: left; border-bottom: 1px solid black">
                     <p style="font-size: 30px;"> {{user?.email}} </p>
                </div> 
            </div>
           <div class="row">
                <div class="col" style="border-bottom: 1px solid black">
                 <p style="font-size: 30px;"> <i class="fas fa-birthday-cake fa-fw"></i> Birthday </p>
                </div>
                <div class="col" style="align-content: left; text-align: left; border-bottom: 1px solid black">
                    <p style="font-size: 30px;">{{birt}}</p>    
                </div> 
                 
           </div>
           <div class="row">
                <div class="col" style="border-bottom: 1px solid black">
                    <label style="font-size: 35px;"> <i class="fas fa-check fa-fw"></i> Status </label>
                </div>
                <div class="col" style="align-content: left; text-align: left; border-bottom: 1px solid black">
                    <label style="font-size: 35px;">  {{user?.activated}}</label>
                     <label style="color: transparent">|</label>
                     <div style="text-align: left;">
                        <button *ngIf="accBool && nijeUser"  class="btn" style="background-color: #ff9955" type="submit" (click)="Resend()" >Resend request</button> 
                    </div>
                </div>      
        </div>    
         <div  class="col  rounded" style="text-align: center">
           <div style="text-align: center; margin-top: 10px">
                <button class="btn" style="background-color: #ff9955;" type="submit" (click)="Edit()" >Edit profile</button>  
            </div>
            </div>  
                     
   <br/>
   <br/>
  
  </div>
 
</div>


  
  </div>
  </div>
  </div>
  <router-outlet></router-outlet>
