<nav class="navbar navbar-expand-lg  navbar-dark" >
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      
      <ul class="navbar-nav mr-auto">
        <li>
          <a class="nav-link" [routerLink]="['/home']">
            Home <i class="fas fa-home fa-fw"></i>
          </a>
        </li>
        <li>
            <a class="nav-link" [routerLink]="['/timetable']">
              Timetable <i class="fas fa-calendar-alt fa-fw"></i>
            </a>
          </li>
        <li>
          <a class="nav-link" [routerLink]="['/busmaps']">
            BusMaps <i class="fas fa-map-marked-alt fa-fw"></i>
          </a>
       </li>
        <li>
          <a class="nav-link" [routerLink]="['/pricelist']">
            Pricelist<i class="fas fa-dollar-sign fa-fw"></i>
          </a>
        </li>
        <li *ngIf="user =='AppUser' || !auth.isLoggedIn()" >
          <a class="nav-link" [routerLink]="['/buy_a_ticket']">
            Buy a ticket <i class="fas fa-shopping-cart fa-fw"></i>
          </a>
        </li>        
      </ul>
      
      <ul *ngIf="user!='AppUser' && auth.isLoggedIn() " class="navbar-nav">
          <li><a class="nav-link" [routerLink]="['/notifications']">
            Notifications <i class="fas fa-bell fa-fw"></i>
          </a>
        </li>
      </ul>
      <ul *ngIf="user =='Controller'&& auth.isLoggedIn() " class="navbar-nav">
        <li>
          <a class="nav-link" [routerLink]="['/validateTicket']">
            Validation <i class="fas fa-tasks fa-fw"></i>
          </a>
        </li>
    </ul>

   
      <ul *ngIf="user=='Admin'" class="navbar-nav" >
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown"  > 
              Add/Change <i class="fas fa-tasks fa-fw"></i>
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" [routerLink]="['/add_change_stations']">Stations</a>
              <a class="dropdown-item" [routerLink]="['/add_change_lines']">Lines</a>
              <a class="dropdown-item" [routerLink]="['/add_change_timetable']">Timetable</a>
              <a class="dropdown-item" [routerLink]="['/add_change_pricelist']">Pricelist</a>
              <a class="dropdown-item" [routerLink]="['/add_change_vehicle']">Vehicles</a>
            </div>
          </li>
      </ul>

 
    
    <ul class="navbar-nav ml-auto"  *ngIf="!auth.isLoggedIn()"> 
      <li>
        <a class="nav-link" [routerLink]="['/login']" >
          Sign In <i class="fas fa-sign-in-alt fa-fw"></i>
        </a>
      </li>
      <li>
        <a class="nav-link" [routerLink]="['/register']">
          Register <i class="fas fa-user-plus fa-fw"></i>
        </a>
      </li>
    </ul>
    
    <ul class = "navbar-nav"  *ngIf="auth.isLoggedIn()" > 
      <ul *ngIf="user =='AppUser'" class="navbar-">
          <li>
            <a class="nav-link" [routerLink]="['/show_tickets']">
              Tickets <i class="fas fa-ticket-alt fa-fw"></i>
            </a>
          </li>
      </ul>
      <li>
        <a class="nav-link" [routerLink]="['/profile']" >
          Profile <i class="fas fa-user-alt fa-fw"></i>
        </a>
      </li>
      <li>
        <a class="nav-link" [routerLink]="['/home']" (click)="logout()">
          Log Out <i class="fas fa-sign-out-alt fa-fw"></i>
        </a>
        </li>
    </ul>
      
    </div>

  </nav>
  